<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="map.css">
</head>
<body>

<div id="map"></div>
<button class="homeBtn">
    <a href="index.html">Back to Homepage</a>
</button>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">

<script src="map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW-LxWC1ML0a6FbUzgC6ExKfh6xrb8oZM&libraries=geometry&libraries=places&callback=initMap" async defer></script>
</body>
</html>