@font-face {
  font-family: 'Montserrat Bold', sans-serif;
  src: url("/gulp-scss-starter/src/fonts/montserrat-bold-webfont.woff");
}

@font-face {
  font-family: 'Montserrat Regular', sans-serif;
  src: url("/gulp-scss-starter/src/fonts/montserrat-black-webfont.woff");
}